.ourplan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  @media (min-width: 880px) {
    height: 100vh;
  }
}

.ourplan > h1 {
  font-family: 'IBMPlexSans Bold';
  font-style: italic;
  font-size: 3em;
  color: #000;
  width: 80%;
  margin: 50px 0;
  letter-spacing: -1px;
  text-align: center;
}

.ourplan-container {
  display: grid;
  grid-template-columns: 1fr;

  
  @media (min-width: 880px) {
    grid-template-columns: 1fr 1fr 1fr;
    height: 65%;
  }
}

.ourplan-container div {
  border: 1px solid #f0f0f0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ourplan-container div > h2 {
  font-family: 'IBMPlexSans Bold';
  font-size: 2rem;
  color: #000;
  margin: 3px;
}

.ourplan-container div > ul {
  list-style: none;
  padding-left: 0;
}

.ourplan-container ul li {
  font-family: 'IBMPlexSans';
  font-size: 1.3em;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-bottom: 10px;

  
  @media (min-width: 880px) {
    width: 25vw;
  }
}

.ourplan-container ul li > img {
  width: 20px;
  height: 20px;
}

.ourplan-container > div > button {
  background: #ffd100;
  transform: skewX(-10deg);
  font-size: 1em;
  width: 150px;
  height: 40px;
  border: none;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    width: 400px;
  }

  @media (min-width: 880px) {
    width: 150px;
  }
}

.ourplan-container button > span {
  color: #000;
  font-family: "IBMPlexSans SemiBold";
}