.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  
  @media (min-width: 880px) {
    flex-direction: row;
    justify-content: space-evenly;
    height: 80vh;
    padding: 0 50px;
  }
}

.products-left {
  @media (min-width: 880px) {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.products-left > h2 {
  font-family: "IBMPlexSans Bold";
  font-style: italic;
  margin: 40px 0;
  font-size: 3.5em;
  text-align: center;
  line-height: -5px;

  
  @media (min-width: 880px) {
    font-size: 4em;
    text-align: left;
    line-height: 0.9;
  }
}

.products-left > p {
  font-family: "IBMPlexSans";
  color: #000;
  text-align: center;
  font-size: 14px;

  @media (min-width: 880px) {
    font-size: 1.1em;
    text-align: left;
    width: 60%;
  }
}

.products-left > div {
  font-size: 1em;
  color: #ffd100;
  font-family: "IBMPlexSans Bold";
  text-align: center;
}

.products-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

  
  @media (min-width: 880px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.products-right > div {
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  // larger mobile screens
  @media (min-width: 390px) {
    width: 350px;
  }

  // tablet screens
  @media (min-width: 640px) {
    width: 600px;
  }

  // laptop screens
  @media (min-width: 880px) {
    width: 380px;
    height: 450px;
  }
}

.products-right > div > div {
  padding: 5px;
  font-family: 'IBMPlexSans SemiBold';
  font-size: 1.2em;
  line-height: 0.9;
  color: #dfdfdf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.products-right > div button {
  background: #ffd100;
  transform: skewX(-10deg);
  width: 40%;
  height: 50px;
  border: none;
  color: #000;
  font-family: "IBMPlexSans SemiBold";
}

.products-right .products_prices {
  width: 45%;
}