@font-face {
  font-family: "IBMPlexSans Bold";
  src: url(../FONTS/OpenType/IBM-Plex-Sans/IBMPlexSans-Bold.otf) format("opentype");
}

@font-face {
  font-family: "IBMPlexSans SemiBold";
  src: url(../FONTS/OpenType/IBM-Plex-Sans/IBMPlexSans-SemiBold.otf) format("opentype");
}