.location {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  & h1 {
    position: absolute;
    top: 20px;
    left: 15%;
    font-family: 'IBMPlexSans Bold';
    font-size: 3.5em;
    letter-spacing: -5px;
    font-style: italic;
    text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.9), 2px 5px 30px rgba(255, 255, 255, 0.5), 2px 5px 50px rgba(255, 255, 255, 0.5);
    color: #000;

    @media (min-width: 640px) {
      left: 25%;
      top: 50px;
    }

    
    @media (min-width: 880px) {
      left: 35%;
      top: 20px;
    }
  }

  & > div {
    position: relative;
    width: 283px;
    height: 250px;
    background-color: white;
    position: absolute;
    left: 10px;
    top: 110px;
    padding: 10px;

    @media (max-width: 880px) {
      display: none;
    }

    & p {
      width: 100%;
      
      display: flex;
      justify-content: space-between;
      font-weight: 500;
    }

    & div {
      overflow: hidden;
      display: flex;
      gap: 5px;
      
      & img {
        width: 70px;
        height: 70px;
      }
    }
  }
}