.supportingText {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  @media (min-width: 880px) {
    flex-direction: row;
  }
}

.supportingText h2 {
  font-family: 'IBMPlexSans Bold';
  font-style: italic;
  font-size: 1.7rem;

  @media (min-width: 640px) {
    font-size: 2.1em;
  }

  
  @media (min-width: 880px) {
    font-size: 3.8em;
    padding-left: 50px;
  }
}

.supportingText-right {
  font-family: 'IBMPlexSans';
  font-size: 1.2rem;

  
  @media (min-width: 640px) {
    font-size: 1.7em;
    padding-left: 80px;
  }

  @media (min-width: 880px) {
    font-size: 1.3em;
    padding-left: 80px;
  }
}

.supportingText-right p {
  padding-right: 20%;
}